<div layout="column" layout-fill md-theme="amber">
	<cql-title-bar season="season"><span>Calendar</span> <cql-seasons season="season" toolStyle hideLabel broadcast></cql-seasons></cql-title-bar>
	<md-content class="full-content" >
		<!-- div style="position:sticky;top:0;opacity:1;background-color:white;width:8em;z-index:10000;"></div-->
	    <div layout="column" flex-xs flex-gt-xs="50">
	    <md-card ng-repeat="day in calendar.days|orderBy:'day'" >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{day.day | date:'EEEE dd MMMM yyyy'}}</span>
            
           </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div ng-repeat="event in day.events" ng-switch on="event.eventType">
	            <div layout="row" layout-xs="column" layout-padding ng-switch-when="calendar">
		            <span style="font-weight: bold;">{{event.description}}</span>   <span>{{event.start | date:'HH:mm'}} - {{event.end | date:'HH:mm'}}</span>
		            <span>Venue : <a href="/venues/{{event.venue.id}}">{{event.venue.name}}</a></span>
	            </div>
	           	<div layout="row" layout-xs="column" layout-padding ng-switch-when="singleton">
		            <span style="font-weight: bold;"><a href="/competitions/{{event.compType}}">{{event.description}}</a></span>   <span>{{event.start | date:'HH:mm'}} - {{event.end | date:'HH:mm'}}</span>
		            <span>Venue : <a href="/venues/{{event.venue.id}}">{{event.venue.name}}</a></span>
	            </div>
	            <div ng-switch-when="fixtures" layout="column">
		            <div layout="row" layout-xs="column" layout-padding >
			            <span style="font-weight: bold;"><a href="/competitions/{{event.compType}}">{{event.description}}</a></span>   <span>{{event.start | date:'HH:mm'}} - {{event.end | date:'HH:mm'}}</span>
	       	
		            </div>
		            <div flex="none" ><md-button ng-click="loadFixtures(event.fixturesId)">Fixtures</md-button></div>
		            <cql-fixtures type="'no-header'" fixtures="getFixtures(event.fixturesId)" show-all></cql-fixtures>
	            </div>
	            <div ng-switch-when="results" layout="column">
		            <div layout="row" layout-xs="column" layout-padding >
			            <span style="font-weight: bold;"><a href="/competitions/{{event.compType}}">{{event.description}}</a></span>
	       	
		            </div>
		            <div flex="none" ><md-button ng-click="loadResults(event.resultsId)">Results</md-button></div>
		            <cql-results type="'no-header'" results="getResults(event.resultsId)" no-card></cql-results>
	            </div>
	            
          	</div>
        </md-card-content>
      </md-card>
      </div>
	</md-content>
</div>