<div layout="column" layout-fill ng-controller="CalendarController">
	<cql-title-bar md-theme="amber">Calendar</cql-title-bar>
	<md-content class="full-content" >
	    <div layout="column" flex-xs flex-gt-xs="50">
	    <md-card ng-repeat="day in calendar.days|orderBy:'day'" >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{day.day | date:'EEEE dd MMMM yyyy'}}</span>
            
           </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div ng-repeat="event in day.events" ng-switch on="event.eventType">
	            <div layout="row" layout-xs="column" layout-padding ng-switch-when="calendar">
		            <span style="font-weight: bold;">{{event.description}}</span>   <span>{{event.start | date:'HH:mm'}} - {{event.end | date:'HH:mm'}}</span>
		            <span>Venue : <a href="/venues/{{event.venue.id}}">{{event.venue.name}}</a></span>
	            </div>
	           	<div layout="row" layout-xs="column" layout-padding ng-switch-when="singleton">
		            <span style="font-weight: bold;"><a href="/competitions/{{event.compType}}">{{event.description}}</a></span>   <span>{{event.start | date:'HH:mm'}} - {{event.end | date:'HH:mm'}}</span>
		            <span>Venue : <a href="/venues/{{event.venue.id}}">{{event.venue.name}}</a></span>
	            </div>
	            <div layout-padding ng-switch-when="fixtures" layout="column">
		            <div layout="row" layout-xs="column" >
			            <span style="font-weight: bold;"><a href="/competitions/{{event.compType}}">{{event.description}}</a></span>   <span>{{event.start | date:'HH:mm'}} - {{event.end | date:'HH:mm'}}</span>
	       	
		            </div>
		            <md-button ng-click="loadFixtures(event.fixturesId)">Fixtures</md-button>
		            <cql-fixtures type="'full-header'" class="header-left" fixtures="getFixtures(event.fixturesId)" show-all></cql-fixtures>
	            </div>
          	</div>
        </md-card-content>
      </md-card>
      </div>
	</md-content>
</div>