<div>
	<div class="box-title">Season Details</div>

	<form>
		<table>
			<tr>
				<td>Start Year</td>
				<td><input ng-model="season.startYear"
					ng-change="updateEndYear(season.startYear)" required></td>
			</tr>
			<tr>
				<td>End Year</td>
				<td><input ng-model="season.endYear" required></td>
			</tr>
			<tr>
				<td>Competitions</td>
				<td><button ng-click="addCompetition(addCompType)">Add</button><select ng-model="addCompType"
					ng-options="value as value.description for value in competitionTypes">
				</td>
			</tr>
			<tr>
				<td></td>
				<td><div class="show team-username-box standard-margins">
					<table>
					<tr ng-repeat="(type,competition) in season.competitions" class="entity-row"><td class="entity-link"><a href="#/seasons/{{seasonId}}/{{type}}">{{type}} - {{competition.description}}</a></td><td class="entity-remove-button"><button ng-click="removeCompetition(competition)">Remove</button></td></tr>
					</table>
					</div></td>
			</tr>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button ng-click="resetSeason()">Reset</button>
						<button ng-click="updateSeason(season)">Save</button>
					</td>
				</tr>
			</tfoot>
		</table>
		
	</form>
	
</div>
