<div flex itemscope itemtype="http://schema.org/SportsTeam">
	<md-subheader hide-gt-xs class="md-primary">{{team.name}}</md-subheader>
	<div ng-controller="TeamExtrasController" layout="column">
		<md-card hide-xs ng-if="team.extras.text"><md-card-content class="fix-text"
			ng-bind-html="team.extras.text | htmlify"></md-card-content></md-card>
		<md-card ng-if="team.extras.positions.length > 0">
			<md-card-title>
				<md-card-title-text>
				<span class="md-headline">Standings</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
			<md-list>
			<md-list-content class="md-1-line" ng-repeat="position in team.extras.positions">
			<div class="md-list-item-text" >
			<p>{{position }}</p>
			</div>
			</md-list-content>
			</md-list>
			</md-card-content>
			</md-card>
			<md-card>
				<md-card-title>
								<md-card-title-text>
				<span class="md-headline">Results</span>
				<span class="md-subhead">Last few results</span>				
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
			<cql-results type="'inline-header'" rows="5" results="team.extras.results"></cql-results>
			</md-card-content>
			<md-card-actions layout="row" layout-align="start center">
				<md-button class="md-primary" ng-href="/teams/{{team.id}}/results">Show all</md-button>
				<md-button class="md-primary" ng-href="/teams/{{team.id}}/charts">Graphs & Stats</md-button>
			</md-card-actions>
			
		</md-card>
		<md-card>
			<md-card-title>
				<md-card-title-text>
				<span class="md-headline">Fixtures</span>
				<span class="md-subhead">Next few fixtures</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
			<cql-fixtures type="'inline-header'" rows="5" fixtures="team.extras.fixtures"></cql-fixtures> 
			</md-card-content>
			<md-card-actions layout="row" layout-align="start center">
				<md-button class="md-primary" ng-href="/teams/{{team.id}}/fixtures">Show all</md-button>
				<md-button class="md-primary" download="fixtures.ics" href="calendar/team/{{team.id}}/calendar.ics" target="_blank">Download Calendar</md-button>
				<md-button ng-click="copyToClipboard('team/' + team.id)">Copy Calendar URL<md-tooltip>Import into your calendar application</md-tooltip></md-button>
			</md-card-actions>
			
		</md-card>
	</div>
</div>


