
.view-animate.ng-enter {
  //-webkit-transition:all linear 0.5s;
  //-moz-transition:all linear 0.5s;
  //-o-transition:all linear 0.5s;
  opacity:0;
  border-color:transparent;
  transition:all 1s ease-in-out;
  #display:block!important;
}

.view-animate.ng-enter-active {
	
	opacity : 1;
	
}

.something{

}

.something.ng-move,
.something.ng-enter,
.something.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:opacity linear 0.5s;
  opacity:0;
}

.something.ng-leave.ng-leave-active,
.something.ng-move,
.something.ng-enter {
  opacity:0;
}

.something.ng-leave,
.something.ng-move.ng-move-active,
.something.ng-enter.ng-enter-active {
  opacity:1;
}
