.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

@keyframes.view-animate.ng-enter.ng-enter-active {
  from{opacity:1;}
  to{opacity:0}
}

@keyframes.view-animate.ng-leave.ng-leave-active {
  from{opacity:0;}
  to{opacity:1}
}