.options {
	float: left;
	height: 80%;
	width: 8em;
}

.view-pane {
	margin-left:10.5em;
	padding:.25em;
}

.box-title {
	font-size: 120%;
	font-weight: 150%;
	margin-bottom: 1%;
	text-decoration: underline;
}

.team-username{

}

.team-username-box{
	padding: 1%;
}

.team-username-box:hover{
	background-color: lightblue;
}

.entity-link{
	position:relative;
	left:0;
}

.entity-remove-button{
	padding-left:3em;
	position:relative;
	right: 0;
}

.league-table-tbl input[type=number]{
	
	 width:2em;
}

@keyframes fadeIn {
    from { height: 0; }
      to { height: auto; }
}

.highlit-border{
	border-color:lightblue;
	transition:border-color .5s ease-in-out;
}
.highlit-border > div{
	#animation: fadeIn 1s;
}

.lowlit-border > div{
	
	height:0;
	overflow: hidden;

}

.lowlit-border a:hover ~div{

	overflow: auto;
	height:auto;
	
	animation: fadeIn 1s;
	
}