html,body {
	margin: 0;
	height: 100%;
	font-family: 'Helvetica', "Lucida Sans Unicode", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	font-size: medium;
}

body {
	padding-left: .25em;
	padding-top: .25em;
}

.navigation {
	margin-top: .25em;
	margin-bottom: 2.50em;
}

.show {
	border: solid thin aliceblue;
	border-radius: .75em;
	box-shadow: .25em .25em .5em .125em aliceblue,-.25em -.25em .5em .125em aliceblue
}

.show-thin {
	border-radius: .25em;
	box-shadow: .125em .125em .25em .06em aliceblue, -.125em -.125em .25em .06em aliceblue, .125em .125em .25em .06em aliceblue inset, -.125em -.125em .25em .06em aliceblue inset;
	padding:.25em;	
	transition: all .5s ease-in;
}

.show-thin:hover {
	box-shadow: .125em .125em .25em .06em #c1dff8,-.125em -.125em .25em .06em #c1dff8, .125em .125em .25em .06em #c1dff8 inset, -.125em -.125em .25em .06em #c1dff8 inset;
	transition: all .5s ease-in;
}



.standard-margins {
	margin-left: .25em;
	margin-top: .25em;
	padding: .125em;
}

.page-header {
	font-family: 'Nunito', sans-serif;
	font-size: 300%;
	padding: .125em;
	padding-left: .25em;
	color: #c1dff8;
	text-shadow: 0 0 5px #c1dff8, 0 0 10px #c1dff8, 0 0 15px #c1dff8,
		0 0 20px darkblue, 0 0 30px darkblue, 0 0 40px darkblue, 0 0 50px
		darkblue;
	letter-spacing: .25em;
}

.page-header text {
	color: #c1dff8;
}

.body-container {
	padding: .1em;
	padding-top:.5em;
}

.footer {
	display: none;
	position: fixed;
	height: 40px;
	bottom: 0;
	left: 0;
	z-index: 999999;
}

.footer div {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.body-content {
	margin-right: 310px;
	display: flex;
}




.selected {
	background: #c1dff8;
	border: medium solid #c1dff8;
	border-radius: .375em;
	transition: background 1s, border-color 1s ease-in;
}

.unselected {
	border: medium solid transparent;
	transition: background 1s, border-color 1s ease-out;
}

.titled-list {
	margin-left: 0;
}

.titled-list>div:first-of-type {
	color: darkblue;
	font-weight: bold;
}

.text-block {
	background-color: aliceblue;
	border-radius: .25em;
	padding: .25em;
}

