.options {
	float: left;
	height: 80%;
	width: 10%;
}

.view-pane {
	float: right;
	width: 80%;
}

.box-title {
	font-size: 120%;
	font-weight: 150%;
	margin-bottom: 1%;
	text-decoration: underline;
}

.team-username{

}

.team-username-box{
	padding: 1%;
	width:120%;
}