.options {
	float: left;
	height: 80%;
	width: 10%;
	padding: 1%;
}

.view-pane {
	float: right;
	width: 80%;
	padding: 1%;
}

.box-title {
	font-size: 120%;
	font-weight: 150%;
	margin-bottom: 1%;
	text-decoration: underline;
}