html,body{
	margin:0;
	padding:0;
	height:100%;
	font-family: Helvetica, Arial, sans-serif;
}

.show{
	border: solid 10px lightgray;
	border-radius: 15px;
	padding: 10px;
	margin-left: 1%;
	margin-top: 1%;
	
}

.index-page-header{
	

	min-height:10%;
	
	font-family: sans-serif;
	font-size: xx-large;
	color: lightblue;
}


.body-container{

 padding 1%;
}
.footer{
	position:absolute;
	height:40px;
	bottom:0;
	left:0;
}

.league-table{
	
	#position: relative;
	float:left;
	height:100%;
}

.feeds{
	
	#position: relative;
	float:right;
	height:100%;
	margin-right:50px;
}

