/*Popup stuff*/

@-webkit-keyframes popupani {
  0% {top:50%;margin-left:15em;opacity:0;}
  30% {top:calc(50% - 1em);margin-left:15em;opacity:1;height:2em;width:2em;}
  60% {top:calc(50% - 1em);margin-left:0;opacity:1;width:30em;height:2em;}
  100% {top:calc(50% - 12em);opacity:1;height:24em;width:30em;}
}

@keyframes popupani {
  0% {top:50%;margin-left:15em;opacity:0;}
  30% {top:calc(50% - 1em);margin-left:15em;opacity:1;height:2em;width:2em;}
  60% {top:calc(50% - 1em);margin-left:0;opacity:1;width:30em;height:2em;}
  100% {top:calc(50% - 12em);opacity:1;height:24em;width:30em;}
}

@-webkit-keyframes popdownani {
  100% {top:50%;margin-left:15em;opacity:0;}
  60% {top:calc(50% - 1em);margin-left:15em;opacity:1;height:2em;width:2em;}
  30% {top:calc(50% - 1em);margin-left:0;opacity:1;width:30em;height:2em;}
  0% {top:calc(50% - 12em);opacity:1;height:24em;width:30em;}
}

@keyframes popdownani {
  100% {top:50%;margin-left:15em;opacity:0;}
  60% {top:calc(50% - 1em);margin-left:15em;opacity:1;height:2em;width:2em;}
  30% {top:calc(50% - 1em);margin-left:0;opacity:1;width:30em;height:2em;}
  0% {top:calc(50% - 12em);opacity:1;height:24em;width:30em;}
}



.popup-container{
	position:fixed;
	left:calc((100% - 30em) / 2);
	width:0;
	height:0;
	opacity:0;
	overflow:hidden;
	padding-right:.5em;
	background-color: white;

}

.popdown{
	-webkit-animation:popdownani 1.2s ease-out;
    -webkit-animation-fill-mode:forwards;
	animation:popdownani 1.2s ease-in;
    animation-fill-mode:forwards;

}

.popdown .x-button{
	
	color:transparent
	
}




.popup{
	 z-index:1000;

	 -webkit-animation:popupani 1.2s ease-in;
	 -webkit-animation-fill-mode:forwards;
	 animation:popupani 1.2s ease-in;
	 animation-direction:alternate;
	 animation-fill-mode:forwards;



}

.popup div.popup-inner{
	     overflow:auto;
	     height:inherit;
}



.x-button{
	position:absolute;
	top:.125em;
	right:.375em;
}

.x-button>a:before{
	content:"x";
}

.x-button > a:hover{
	color:darkblue;
	text-shadow:0 0 1px blue,0 0 2px blue,0 0 3px blue;
	transition:all .2s ease-in;
}

.x-button > a {
	text-shadow:0 0 1px darkblue,0 0 2px darkblue;
	font-weight:bold;
	color:#c1dff8;
	transition:all .2s ease-out;
}
.x-button > a:link{text-decoration: none;}
.x-button > a:visited{text-decoration: none;}

