/*Popup stuff*/

@-webkit-keyframes popupani {
  0% {transform:scale(0,0);}
  30% {transform:scale(.1,.1);}
  60% {transform:scale(1,.1);}
  100% {transform:scale(1,1);}
}

@keyframes popupani {
  0% {transform:scale(0,0);}
  30% {transform:scale(.1,.1);}
  60% {transform:scale(1,.1);}
  100% {transform:scale(1,1);}
}

@-webkit-keyframes popdownani {
 100% {transform:scale(0,0);}
  60% {transform:scale(.1,.1);}
  30% {transform:scale(1,.1);}
  0% {transform:scale(1,1);}
}

@keyframes popdownani {
  100% {transform:scale(0,0);}
  60% {transform:scale(.1,.1);}
  30% {transform:scale(1,.1);}
  0% {transform:scale(1,1);}
}


.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: 0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  display: none;
}



.popdown{
	-webkit-animation:popdownani 1.2s ease-out;
    -webkit-animation-fill-mode:forwards;
	animation:popdownani 1.2s ease-in;
    animation-fill-mode:forwards;

}

.popdown .x-button{
	
	color:transparent
	
}

.modal {
  display: block;
  background-color: transparent;
  #transform-origin: center center;
  transform: scale(0, 0);
}
.modal > .popup-container {

   text-align: left;
   display: inline-block;
   box-sizing: border-box;
   position: relative;
   height:24em;
   width:32em;
   background-color:white;
   vertical-align: middle;
}


.popup{
	 z-index:1000;

	 -webkit-animation:popupani 1.2s ease-in;
	 -webkit-animation-fill-mode:forwards;
	 animation:popupani 1.2s ease-in;
	 animation-direction:alternate;
	 animation-fill-mode:forwards;

}

.popup-inner{
	     overflow:auto;
	     height:inherit;
}



.x-button{
	position:absolute;
	top:.125em;
	right:.375em;
}

.x-button>a:before{
	content:"x";
}

.x-button > a:hover{
	color:darkblue;
	text-shadow:0 0 1px blue,0 0 2px blue,0 0 3px blue;
	transition:all .2s ease-in;
}

.x-button > a {
	text-shadow:0 0 1px darkblue,0 0 2px darkblue;
	font-weight:bold;
	color:#c1dff8;
	transition:all .2s ease-out;
}
.x-button > a:link{text-decoration: none;}
.x-button > a:visited{text-decoration: none;}

