@import url('/css/main.css');

.league-table { 

}



.league-table div.header {
	padding-left: .25em;
	font-weight: 700;
	margin-top:.5em;
	margin-bottom: .75em;
}

.league-table-tbl{
		font-size: 90%;
		font-family: 'Helvetica', "Lucida Sans Unicode", "Bitstream Vera Sans",
	"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
	sans-serif;
}


.league-table-container.narrow .league-table-tbl tr *:nth-child(4),.league-table-container.narrow .league-table-tbl tr *:nth-child(5),.league-table-container.narrow .league-table-tbl tr *:nth-child(6),.league-table-container.narrow .league-table-tbl tr *:nth-child(7){
	
	display:none;
	
}


.league-table-tbl tr>td {

	border: solid thin lightgray;
	border-radius: .25em;
	transition:background-color .2s ease-in;
	
}


.league-table-tbl tr:hover>td {
	background-color: lightgray;
	transition:background-color .2s ease-in;
}

.league-table-tbl .numeric {
	text-align: right;
	min-width: 3em;
	padding-right: .25em;
	
}

.league-table-tbl .team-name {
	min-width: 6em;
}

.league-table-tbl thead th {
	background: #c1dff8;
	border: medium solid #c1dff8;
	border-radius: .25em;
	font-weight: normal;
}

.league-table-tbl thead tr.league-table-description th {
	background: #99ccff;
	border: medium solid #99ccff;
}

.results:hover div{

	overflow: hidden;
	height:1.5em;
	transition:all .5s ease-in;

}
.results > div{
	overflow: hidden;
	height:0;
	transition:all .5s ease-in;
}

.popup div.reports-popup-header{
	font-weight: 600;
	color:darkblue;
	border-bottom: solid thin #99ccff;
	margin-bottom:.25em;
}

