@import url('/css/main.css');

.league-table { 
	font-size: 90%;
}

.league-table p {
	padding-left: 1%;
	font-size: 110%;
	font-weight: bold;
}

.league-table-tbl tr>td {
	border: solid thin lightgray;
	border-radius: .25em;
}

.league-table-tbl tr{
	transition:background-color .1s ease-in;	
}

.league-table-tbl tr:hover {
	background-color: lightgray;
	transition:background-color .2s ease-in;
}

.league-table-tbl .numeric {
	text-align: right;
	min-width: 3em;
	padding-right: .25em;
	
}

.league-table-tbl .team-name {
	min-width: 6em;
}

.league-table-tbl thead td {
	background: #c1dff8;
	border: medium solid #c1dff8;
	border-radius: .25em;
}

.league-table-tbl thead tr.league-table-description td {
	background: #99ccff;
	border: medium solid #99ccff;
}

.results:hover div{

	overflow: hidden;
	height:1em;
	transition:all .5s ease-in;

}
.results > div{
	overflow: hidden;
	height:0;
	transition:all .5s ease-in;
}

.highlit-border{
	box-shadow: .125em .125em .25em .06em #c1dff8,-.125em -.125em .25em .06em #c1dff8, .125em .125em .25em .06em #c1dff8 inset, -.125em -.125em .25em .06em #c1dff8 inset;
	transition:border-color .5s ease-in;
}
.highlit-border > div{
	overflow: hidden;
	height:2em;
	transition:all .5s ease-in;
}

.lowlit-border > div{
	overflow: hidden;
	height:0;
	transition:all .5s ease-in;
}

.lowlit-border a:hover ~div{

	overflow: hidden;
	height:2em;
	transition:all .5s ease-in;

}

.highlit-border > div.ng-enter, .highlit-border > div.ng-move {
  transition:all 0.5s ease-in;
  height:0;
 }

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.highlit-border> div.ng-enter.ng-enter-active,
.highlit-border> div.ng-move.ng-move-active {
  height:2em;
 }