.standard-table{
		font-size: 90%;
		font-family: 'Helvetica', "Lucida Sans Unicode", "Bitstream Vera Sans",
	"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
	sans-serif;
	
}

.standard-table{
	border-spacing: .125em;
}

div.standard-table{
    display:table;
    table-layout:fixed;
}

.standard-table .table-header{
    display:table-header-group;
}
.standard-table .table-header>div{
    display:table-row;
}
.standard-table .table-header>div>span{
    display:table-cell;
}
.standard-table .table-body{
    display:table-row-group;
}

.standard-table .table-body>div{
    display:table-row;
}
.standard-table .table-body>div>span{
    display:table-cell;
}


.standard-table .table-body>*:hover span:not(.row-annotation), .standard-table tbody>*:hover td:not(.row-annotation){
	background-color: lightgray;
	transition:background-color .2s ease-in;
}

.standard-table .numeric {
	text-align: right;
}

.row-annotation{
	font-style: oblique;
}

.standard-table .table-body span:not(.row-annotation),.standard-table tbody td:not(.row-annotation) {

	border: solid thin lightgray;
	border-radius: .25em;
    padding-left:0.0675em;
    padding-right:0.0675em;
	transition:background-color .2s ease-in;
	
}


.standard-table .table-header span,.standard-table thead th {
	background: #c1dff8;
	border: medium solid #c1dff8;
	border-radius: .25em;
	font-weight: normal;
	text-align:center;
}