.venue-picture{

}

.venue-picture>div{
	text-align:right;
	vertical-align: top;

}

.venue-container{

}

.venue-details{
	width:100%;
	vertical-align:top;
}

.venue-layout{
	display:table;
}
.venue-layout>div{
	display:table-row;
}

.venue-layout>div>div{
	display:table-cell;

}

.venue-address{
	margin-top:.5em;
	margin-bottom:.5em;	
}