<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Cache-Control" content="no-store" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chiltern Quiz League - data maintenance</title>
<link rel="icon" type="image/gif" href="/favicon.gif" />
<link type="text/css" rel="stylesheet" href="/maintain/css/maintain.css">
<link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">

<base href="/">
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/angular-animate.min.js"></script>
<script type="text/javascript" src="/js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/js/angular-aria.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/tinymce/angular-tinymce.js"></script>
<script type="text/javascript" src="/maintain/js/entity.js"></script>
<script type="text/javascript" src="/maintain/js/main.js"></script>
<script type="text/javascript" src="/maintain/js/competition.js"></script>
<script type="text/javascript" src="/maintain/js/global.js"></script>
<script type="text/javascript" src="/maintain/js/season.js"></script>
<script type="text/javascript" src="/maintain/js/team.js"></script>
<script type="text/javascript" src="/maintain/js/text.js"></script>
<script type="text/javascript" src="/maintain/js/user.js"></script>
<script type="text/javascript" src="/maintain/js/venue.js"></script>
<script type="text/javascript" src="/maintain/js/stats.js"></script>
<script type="text/javascript" src="/maintain/js/database.js"></script>
<script type="text/javascript" src="/maintain/js/mail.js"></script>



</head>
<body ng-app="maintainApp" md-swipe-right="toggleLeft()" layout="column" ng-controller="MainCtrl">
	<md-toolbar><div class="md-toolbar-tools" ><md-button hide show-sm show-md aria-label="Main menu" ng-click="toggleLeft()"><md-icon icon="/images/icons/ic_menu.svg" style="margin-bottom:5px"></md-icon><md-tooltip>Main menu</md-tooltip></md-button><span style="margin-left:.25em;">Maintenance</span></div></md-toolbar>
	<div layout="row">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2"
	md-component-id="left" md-is-locked-open="$media('gt-md')" ng-click="toggleLeft()">
		<md-content>
		<div>
			<md-button class="menu-item menu-title" href="/maintain/global/current">Global</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="/maintain/venues">Venues</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="/maintain/users">Users</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="/maintain/teams">Teams</md-button>
		</div>
		<div>
			<md-button  class="menu-item menu-title" href="/maintain/seasons">Seasons</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="/maintain/texts">Text</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="/maintain/stats">Statistics</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="/maintain/database">Database</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="/maintain/mail">Mail</md-button>
		</div>
		</md-content>
	</md-sidenav>

	<md-content ui-view flex style="margin-top:.25em;margin-left:.25em;"></md-content>
	</div>
</body>
</html>