<div ng-controller="GlobalDetailCtrl">
	<md-subheader class="md-primary">Global Details</md-subheader>
	<form>
		<md-input-container>
			<label>League Name</label>
			<input ng-model="global.leagueName" required size="60"/>
		</md-input-container>
		<md-input-container>
			<label>Current Season</label>
			<md-select ng-model="global.currentSeason" placeholder="Select a season" ng-model-options="{trackBy: '$value.id'}" required>
				<md-option ng-value="season" ng-repeat="season in seasons">{{season.startYear}}</md-option>
			</md-select>
		</md-input-container>
		<md-subheader>Front Page Text</md-subheader>
		<md-input-container>
		<textarea ui-tinymce="tinymceOptions" ng-model="global.frontPageText" cols="60"
							rows="15" required></textarea>
		</md-input-container>
		<md-input-container>
		<label>Sender email</label>
		<input type="email" ng-model="global.senderEmail">
		</md-input-container>
		<md-button class="md-accent" ng-click="addAlias(global)">Add Alias</md-button>
		<div ng-repeat="emailAlias in global.emailAliases" layout="row" layout-align="start end"><md-input-container><input placeholder="alias" required ng-model="emailAlias.alias"></md-input-container><md-input-container><select class="md-input" required ng-model="emailAlias.user" ng-options="user as user.name for user in users track by user.id"></select></md-input-container></div>
		
		<md-button ng-click="resetGlobal()">Reset</md-button>
		<md-button class="md-primary" ng-click="updateGlobal(global)">Save</md-button>

	</form>
</div>
