<div>
	<div class="box-title">Global Details</div>
	<form>
		<table>

			<tbody>
				<tr>
					<td>League Name</td>
					<td><input ng-model="global.leagueName" required size="60"/></td>
				</tr>
				<tr>
					<td>Current Season</td>
					<td><select ng-model="global.currentSeason"
						ng-options="season as season.startYear for season in seasons" required/></td>
				</tr>
				
								<tr>
				<td>Text Provider</td>
					<td><select ng-model="global.globalText"
						ng-options="text as text.name for text in texts" required/></td>
				</tr>
				<tr>
					<td>Front Page Text</td>
					<td><textarea ui-tinymce ng-model="global.frontPageText" cols="60"
							rows="15" required></textarea></td>
				</tr>
				
			<tr><td><button ng-click="addAlias(global)">Add Alias</button></td></tr>
			<tr ng-repeat="emailAlias in global.emailAliases"><td><input required ng-model="emailAlias.alias"></td><td><select required ng-model="emailAlias.user" ng-options="user as user.name for user in users track by user.id"/></td></tr>
			
			</tbody>


			<tfoot>
				<tr>
					<td></td>
					<td>
						<button ng-click="resetGlobal()">Reset</button>
						<button ng-click="updateGlobal(global)">Save</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
