<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="MainController">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control" content="no-store" />
	<title>{{global.leagueName}} - Competitions</title>
	<link rel="icon" type="image/gif" href="/favicon.gif" />
	<link type="text/css" rel="stylesheet" href="/css/competition.css">
	<script type="text/javascript" src="/js/angular.js"></script>
	<script type="text/javascript" src="/js/angular-animate.js"></script>
	<script type="text/javascript" src="/js/angular-sanitize.js"></script>
	<script type="text/javascript" src="/js/controller.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/competitions.js"></script>
	</head>
	<body>
		<div>
			<div ng-include="'/top.html'"></div>
			<div class="body-container" ng-controller="CompetitionsController">
				<div class="show teams standard-margins">
					<div class="selection-item" ng-repeat="item in competitions | orderBy : 'type'" ng-class="item.type == competition.type ? 'selected' : 'unselected'">
						<a href="" ng-click="setCompetition(item)">{{item.description}}</a>
					</div>
				</div>
				<div class="team-pane standard-margins" >
					<div ng-include="'/common/season-dropdown.html'"></div>
					<div class="something" style="position:absolute;" ng-include="getTemplate(templateName)" ></div>
				</div>
			</div>
		</div>
	</body>
</html>
