<div>
	<div class="box-title">League Details</div>
	<form novalidate>
		<table>
			<tr>
				<td>Description</td>
				<td><input ng-model="leagueCompetition.description"></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="#/league/{{leagueCompetition.id}}/fixtures">Fixtures</a></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="#/league/results">Results</a></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="#/league/tables">Tables</a></td>
			</tr>

			<tfoot>
				<tr>
					<td></td>
					<td>
						<button ng-click="resetLeagueCompetition()">Reset</button>
						<button ng-click="addLeagueCompetition(leagueCompetition)">Save</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
