<div ng-controller="SeasonCalendarCtrl">
<md-subheader class="md-primary">Events Calendar for {{season.startYear}}/{{season.endYear}}</md-subheader>
<form>
	<div layout="column" flex="50">
	<md-input-container>
		<label>Description</label>
		<input type="text" ng-model="event.description" required></input>
	</md-input-container>
	<div layout-gt-xs="row" layout-xs="column">
	<md-input-container>
		<label>Start</label>
		<input type="datetime-local" ng-model="event.start" required></input>
	</md-input-container>
	
	<md-input-container>
		<label>End</label>
		<input type="datetime-local" ng-model="event.end" required></input>
	</md-input-container>
	</div>
	<md-input-container>
		<label>Venue</label>
		<md-select ng-model="event.venue" ng-model-options="{trackBy: '$value.id'}">
		<md-option ng-value="venue" ng-repeat="venue in venues">{{venue.name}}</md-option>
		</md-select>
	</md-input-container>
	
	<md-button type="submit" ng-click="addEvent(event)">Add</md-button>
	</div>
</form>

<md-button ng-click="ok()">Ok</md-button>

<md-content>
	<md-list>
		<md-list-item ng-repeat="event in season.calendar | orderBy:'start'" >
			<md-list-item-content><md-button class="md-fab md-mini md-warn"  ng-click="removeEvent(event)">X</md-button><span ng-click="setEvent(event)">{{event.description}} {{event.start | date:'dd-MM-yyyy hh:mm'}} {{event.venue.name}}</span></md-list-item-content>
		</md-list-item>
	</md-list>
</md-content>
</div>