<div flex ng-controller="TeamDetailCtrl">
	<md-subheader class="md-primary">Team Details</md-subheader>
	<form>
		<div layout="row" layout-sm="column" layout-align="space-between">
			<div layout="column">
				<md-input-container> <label>Name</label> <input
					ng-model="team.name" required maxlength="30"> </md-input-container>
				<md-input-container> <label>Short Name</label>
				<input ng-model="team.shortName" required maxlength="13"> </md-input-container>
				<md-input-container><label>Venue</label>
					<input type="hidden" ng-model="team.venue" required>

				<select class="md-input" ng-model="team.venue"
					ng-options="venue as venue.name for venue in venues track by venue.id"
					ng-change="team.name=team.venue.name" required></select>
				</md-input-container> 
				<md-checkbox ng-model="team.retired">Retired</md-checkbox>

				<div>
					<md-button class="md-accent" ng-click="addUser(userToAdd)">Add User</md-button>
					<md-input-container>
					<label>Select a user</label>
					<input type="hidden" ng-model="userToAdd">
					<select class="md-input" ng-model="userToAdd"
						ng-options="user as user.name for user in users track by user.id"></select>
					<md-input-container>
				</div>
				<md-subheader>Users</md-subheader>

				<div layout="column">
					<div ng-repeat="user in team.users" layout="row" layout-align="space-between center">
						<span>{{user.name}}</span><md-button
								ng-click="removeUser(user)">Remove</md-button>
					</div>
				</div>
			</div>
			<div>
				<md-input-container><label>Rubric</label><input type="hidden" ng-model="team.rubric.text"></md-input-container>
				<textarea
					ui-tinymce="tinymceOptions" cols="60" rows="15"
					ng-model="team.rubric.text" ></textarea>
			</div>
		</div>


		<md-button ng-click="resetTeam()">Reset</md-button>
		<md-button class="md-primary" ng-click="updateTeam(team)">Save</md-button>
	</form>
</div>
