<div>
	<div class="box-title">Team Details</div>
	<form>
		<table>
			<tr>
				<td>Name</td>
				<td><input ng-model="team.name" required></td>
			</tr>
			<tr>
				<td>Short Name</td>
				<td><input ng-model="team.shortName" required></td>
			</tr>
			<tr>
				<td>Venue</td>
				<td><select ng-model="team.venue"
					ng-options="venue as venue.name for venue in venues"
					ng-change="team.name=team.venue.name" required></td>
			</tr>
			<tr>
				<td>Retired</td>
				<td><input type="checkbox" ng-model="team.retired" ></td>
			</tr>
			<tr>
					<td>Rubric</td>
					<td><textarea ng-model="team.rubric.text" cols="60"
							rows="15" ></textarea></td>
				</tr>
			<tr>
				<td></td>
				<td><div><button ng-click="addUser(userToAdd)">Add</button><select ng-model="userToAdd" ng-options="user as user.name for user in users"/></div></td>
			</tr>
			<tr>
				<td>Users</td>
				<td>
					<div class="show-thin team-username-box">
						<div class="team-username" ng-repeat="user in team.users"><span>{{user.name}}</span><span class="entity-remove-button"><button ng-click="removeUser(user)">Remove</button></span></div>
					</div>
				</td>
			</tr>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button ng-click="resetTeam()">Reset</button>
						<button ng-click="updateTeam(team)">Save</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
