<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="MainController">
<head>
<meta charset="UTF-8">
<title>{{global.leagueName}}</title>
<link rel="icon" type="image/gif" href="/favicon.gif" />
<link type="text/css" rel="stylesheet" href="/css/top.css">
<link type="text/css" rel="stylesheet" href="/css/team.css">
<link type="text/css" rel="stylesheet" href="/css/venue.css">
<script type="text/javascript" src="/js/angular.js"></script>
<script type="text/javascript" src="/js/angular-animate.js"></script>
<script type="text/javascript" src="/js/controller.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/venue.js"></script>
</head>
<body>
	<div>
		<div ng-include="'/top.html'"></div>
		<div class="body-container" ng-controller="VenuesController">
			<div class="show teams standard-margins">
				<div class="selection-item" ng-repeat="item in venues | orderBy:'name'" ng-class="item.id == venue.id ? 'selected' : 'unselected'">
					<a href="" ng-click="setVenue(item)">{{item.name}}</a>
				</div>
			</div>
			<div class="show team-pane standard-margins venue-container">
				<div>
					<div>{{venue.name}}</div>
					<div>{{venue.address}}</div>
					<div><a href="{{venue.website}}" target="_blank">Website</a></div>
					<div>email : {{venue.email}}</div>
					<div>phone : {{venue.phone}}</div>
					
				</div>
				<div class="venue-picture"><div><img alt="" src="{{venue.imageURL}}"></div></div>
			</div>
		</div>
	</div>
</body>

</html>