<div layout="column" ng-controller="VenueController">
	<md-card>
	<cql-subheader class="md-primary">{{venue.name}}</cql-subheader>
	<div flex layout="row" layout-sm="column" layout-md="column">
		<div flex layout="column" >
			<div class="venue-address"
				ng-bind-html="venue.address | lineBreaks | htmlify">
			</div>
			<div ng-if="venue.address">
			<iframe hide-sm hide-md ng-src='{{embeddedUrl}}' width="400" height="300" frameborder="0" style="border:0"></iframe>
			<a hide-gt-md ng-href="{{linkUrl}}" target="_blank">map</a>
			</div>
			
			<div>
				Website : <a href="{{venue.website}}" target="_blank">{{venue.website}}</a>
			</div>
			<div>
				email : <a href="mailto:{{venue.email}}">{{venue.email}}</a>
			</div>
			<div>phone : {{venue.phone}}</div>
		</div>
		<div ng-if="venue.imageURL" hide-sm >
			<div>
				<img alt="" ng-src="{{venue.imageURL}}">
			</div>
		</div>
	</div>
	</md-card>
</div>