<div ng-controller="VenuesController">
	<div class="show teams standard-margins">
		<div class="selection-item" ng-repeat="item in venues | orderBy:'name'" ng-class="item.id == venue.id ? 'selected' : 'unselected'">
			<a href="#/venues/{{item.id}}">{{item.name}}</a>
		</div>
	</div>
	<div class="team-pane venue-container">
		<div class="venue-details">
			<div>{{venue.name}}</div>
			<div ng-bind-html="venue.address | htmlify"></div>
			<div>Website : <a href="{{venue.website}}" target="_blank">{{venue.website}}</a></div>
			<div>email : <a href="mailto:{{venue.email}}">{{venue.email}}</a></div>
			<div>phone : {{venue.phone}}</div>
			
		</div>
		<div ng-if="venue.imageURL" class="venue-picture"><div><img alt="" ng-src="{{venue.imageURL}}"></div></div>
	</div>
</div>
