<div>
	<cql-subheader class="md-primary">Beer Leg Details</cql-subheader>

	<form>
		<div layout="row" layout-sm="column" layout-align="space-between">
			<div layout="column">
				<md-input-container> <label>Description</label>
				<input ng-model="competition.description"> </md-input-container>
				<md-button href="/maintain/seasons/{{season.id}}/competition/BEER/results">Results</md-button>
				<md-button href="/maintain/seasons/{{season.id}}/competition/BEER/tables">Tables</md-button>
			</div>
			<div>
				<md-input-container> <label>Text</label> 
					<input type="hidden" ng-model="competition.text"> 
				</md-input-container>
				<textarea ui-tinymce="tinymceOptions" ng-model="competition.text"
					cols="60" rows="15"></textarea>
				
				
			</div>
		</div>
		<md-button ng-click="resetCompetition()">Reset</md-button>
		<md-button class="md-primary" ng-click="addCompetition(competition)">Save</md-button>
		<md-button class="md-primary" ng-click="saveCompetition(competition)">Save and Close</md-button>
	</form>
</div>


