<div>
	<md-subheader class="md-primary">Team Buzzer Details</md-subheader>
	<form>
		<md-input-container>
			<label>Description</label>
			<input ng-model="competition.description">
		</md-input-container>
		<md-subheader>Text</md-subheader>
		<textarea ui-tinymce="tinymceOptions" ng-model="competition.text" cols="60"
							rows="15" ></textarea>
		<md-button ng-click="resetCompetition()">Reset</md-button>
		<md-button  ng-if="!competition.id" class="md-primary" ng-click="addCompetition(competition)">Save</md-button>
		<md-button ng-if="competition.id" class="md-primary" ng-click="saveCompetition(competition)">Save and Close</md-button>

	</form>
</div>
