<div>
	<div class="box-title">Individual Competition Details</div>
	<form>
		<table>
			<tr>
				<td>Description</td>
				<td><input ng-model="individualCompetition.description"></td>
			</tr>
			<tr>
				<td>Text</td>
				<td><textarea ui-tinymce="tinymceOptions" ng-model="individualCompetition.text" cols="60"
							rows="15" ></textarea>

			</tr>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button ng-click="resetIndividualCompetition()">Reset</button>
						<button ng-click="addIndividualCompetition(individualCompetition)">Save</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
