<div>
	<div class="box-title">League Details</div>
	<form>
		<table>
			<tr>
				<td>Description</td>
				<td><input ng-model="leagueCompetition.description"></td>
			</tr>
			<tr>
				<td>Start Time</td>
				<td><input required  ng-model="leagueCompetition.startTime" ng-pattern="/\d\d:\d\d/" placeholder="hh:mm"></td>
			</tr>
			<tr>
				<td>End Time</td>
				<td><input required ng-model="leagueCompetition.endTime"  ng-pattern="/\d\d:\d\d/" placeholder="hh:mm"></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="/maintain/seasons/{{seasonId}}/LEAGUE/fixtures">Fixtures</a></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="/maintain/seasons/{{seasonId}}/LEAGUE/results">Results</a></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="/maintain/seasons/{{seasonId}}/LEAGUE/tables">Tables</a></td>
			</tr>

			<tfoot>
				<tr>
					<td></td>
					<td>
						<button ng-click="resetLeagueCompetition()">Reset</button>
						<button ng-click="addLeagueCompetition(leagueCompetition)">Save</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
