<div>
	<md-subheader class="md-primary">Plate Details</md-subheader>

	<form>
		<div layout="row" layout-sm="column" layout-align="space-between">
			<div layout="column">
				<md-input-container> <label>Description</label>
				<input ng-model="competition.description"> </md-input-container>
				<md-input-container> <label>Start Time
					(hh:mm)</label> <input required ng-model="competition.startTime"
					ng-pattern="/\d\d:\d\d/"> </md-input-container>
				<md-input-container> <label>End Time
					(hh:mm)</label> <input required ng-model="competition.endTime"
					ng-pattern="/\d\d:\d\d/"> </md-input-container>
				<md-button href="/maintain/seasons/{{season.id}}/competition/LEAGUE/fixtures">Fixtures</md-button>
				<md-button href="/maintain/seasons/{{season.id}}/competition/LEAGUE/results">Results</md-button>
			</div>
			<div>
				<md-input-container> <label>Text</label> 
					<input type="hidden" ng-model="competition.text"> 
				</md-input-container>
				<textarea ui-tinymce="tinymceOptions" ng-model="competition.text"
					cols="60" rows="15"></textarea>
				
				
			</div>
		</div>
		<md-button ng-click="resetCompetition()">Reset</md-button>
		<md-button class="md-primary" ng-click="addCompetition(competition)">Save</md-button>

	</form>
</div>