<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Cache-Control" content="no-store" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chiltern Quiz League - data maintenance</title>
<link rel="icon" type="image/gif" href="/favicon.gif" />
<link type="text/css" rel="stylesheet" href="/maintain/css/maintain.css">
<link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.css">

<base href="/maintain/">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.min.js"></script>
<script src="https://npmcdn.com/@angular/router@0.2.0/angular1/angular_1_router.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/tinymce/angular-tinymce.js"></script>
<script type="text/javascript" src="js/entity.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="components/app/component.js"></script>
<script type="text/javascript" src="components/competition/competition.js"></script>
<script type="text/javascript" src="components/global/global.js"></script>
<script type="text/javascript" src="components/season/season.js"></script>
<script type="text/javascript" src="components/team/team.js"></script>
<script type="text/javascript" src="components/text/text.js"></script>
<script type="text/javascript" src="components/user/user.js"></script>
<script type="text/javascript" src="components/venue/venue.js"></script>
<script type="text/javascript" src="components/stats/stats.js"></script>
<script type="text/javascript" src="components/database/database.js"></script>
<script type="text/javascript" src="components/mail/mail.js"></script>



</head>
<body ng-app="maintainApp" md-swipe-right="toggleLeft()" layout="column" ng-controller="MainCtrl">
	<md-toolbar><div class="md-toolbar-tools" ><md-button class="md-icon-button" hide-gt-md aria-label="Main menu" ng-click="toggleLeft()"><md-icon md-svg-src="/images/icons/ic_menu.svg" style="margin-bottom:5px"></md-icon><md-tooltip>Main menu</md-tooltip></md-button><span style="margin-left:.25em;">Maintenance</span></div></md-toolbar>
	<div layout="row">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2"
	md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-click="toggleLeft()">
		<md-content>
		<div>
			<md-button class="menu-item menu-title" href="global/current">Global</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="venues">Venues</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="users">Users</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="teams">Teams</md-button>
		</div>
		<div>
			<md-button  class="menu-item menu-title" href="seasons">Seasons</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="texts">Text</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="stats">Statistics</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="database">Database</md-button>
		</div>
		<div>
			<md-button class="menu-item menu-title" href="mail">Mail</md-button>
		</div>
		</md-content>
	</md-sidenav>

	<md-content flex style="margin-top:.25em;margin-left:.25em;"><app></app></md-content>
	</div>
	
	<md-progress-circular ng-show="progress" style="position:fixed; top:65px; right:0;z-index:1000000;" md-diameter="80" md-mode="indeterminate"></md-progress-circular>
</body>
</html>