<div layout="column">
	<md-card> <md-card-title> <md-card-title-text>
	<span class="md-headline">{{venue.name}}</span>
		<div flex layout="column">
	<div class="venue-address"
		ng-bind-html="venue.address | lineBreaks | htmlify"></div>

			<div ng-if="venue.address">
					<iframe hide-xs ng-src='{{$ctrl.embeddedUrl(venue)}}' width="400" height="300"
			frameborder="0" style="border: 0"></iframe>
		<a hide-gt-xs ng-href="{{$ctrl.linkUrl(venue)}}" target="_blank">map</a>
	</div>
		<div>
			Website : <a href="{{venue.website}}" target="_blank">{{venue.website}}</a>
		</div>
		<div>
			email : <a href="mailto:{{venue.email}}">{{venue.email}}</a>
		</div>
		<div>phone : {{venue.phone}}</div>
	</div>
	</md-card-title-text> 
	<md-card-title-media ng-if="venue.imageURL" hide-xs>

	<img alt="" ng-src="{{venue.imageURL}}">
	<div ng-if="venue.address">

	</div>

	</md-card-title-media> </md-card-title> <md-card-content> </md-card-content> </md-card>
</div>