<div flex ng-controller="VenueDetailCtrl">
	<md-subheader>Venue Details</md-subheader>
	<form>
	<md-input-container>
  		<label>Username</label>
  		<input ng-model="venue.name" required>
  	</md-input-container>
  	<md-input-container>
  		<label>Address</label>
  		<textarea rows="6" cols="30" ng-model="venue.address" required></textarea>
  	</md-input-container>
  	<md-input-container>
  		<label>Phone</label>
  		<input ng-model="venue.phone" >
  	</md-input-container>
  	<md-input-container>
  		<label>Email Address</label>
  		<input ng-model="venue.email" type="email" >
  	</md-input-container>
  	<md-input-container>
  		<label>Website</label>
  		<input ng-model="venue.website" type="url" >
  	</md-input-container>
  	<md-input-container>
  		<label>Image URL</label>
  		<input ng-model="venue.imageURL">
  	</md-input-container>
  	<div><img alt="" src="{{venue.imageURL}}"></div>
  	<md-checkbox ng-model="venue.retired">Retired</md-checkbox>
  	<div>
  	<md-button ng-click="resetVenue()">Reset</md-button>
    <md-button ng-click="updateVenue(venue)">Save</md-button>
  	</div>
	</form>

</div>
