<div>
	<div class="box-title">User Details</div>
	<form>
		<table>
			<tr>
				<td>Name</td>
				<td><input ng-model="user.name"></td>
			</tr>
			<tr>
				<td>email</td>
				<td><input type="email" ng-model="user.email" ng-change="user.name=user.email" required></td>
			</tr>

			<tfoot>
				<tr>
					<td></td>
					<td>
						<button ng-click="resetUser()">Reset</button>
						<button ng-click="updateUser(user)">Save</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
