<md-dialog layout="column">	<md-toolbar>

<div class="md-toolbar-tools">Contact {{title}}</div>
</md-toolbar>

	<md-content class="md-dialog-content" layout="column" style="min-height:40%">
	<md-input-container> <label>Your email address</label>
		<input type="email" ng-model="sender" required
		autocomplete="on" autofocus> 
	</md-input-container> 
	<md-input-container hide-sm>
		<textarea rows="10" cols="50"
		ng-model="text" placeholder="Your Message" style="height:initial;"></textarea>
	</md-input-container>
	<md-input-container hide-gt-sm>
		<textarea rows="8" cols="20"
		ng-model="text" placeholder="Your Message" style="height:initial;"></textarea>
	</md-input-container> 
	</md-content>
	<div class="md-actions">

		<md-button ng-click="closeDialog()" class="md-raised">Cancel</md-button>
		<md-button type="submit" ng-click="send()" class="md-primary md-raised">Send</md-button>

	</div>

</md-dialog>