<md-sidenav class="md-sidenav-right md-whiteframe-z2"
	md-component-id="right"  md-padding>
	<md-toolbar><span class="md-toolbar-tools"><span>Main Menu</span></span></md-toolbar>
		<div><md-button  class="menu-item menu-title"  href="/" ng-click="toggleRight()">Home</md-button></div>
		<div><md-button class="menu-item menu-title"  href="/teams/all" ng-click="toggleRight()">Teams</md-button></div>
		<div><md-button class="menu-item menu-title"  href="/competitions/LEAGUE" ng-click="toggleRight()">Competitions</md-button></div>
		<div><md-button class="menu-item menu-title"  href="/results/all" ng-click="toggleRight()">Results</md-button></div>
		<div><md-button class="menu-item menu-title"  href="/venues" ng-click="toggleRight()">Venues</md-button></div>
		<div><md-button class="menu-item menu-title"  href="/rules" ng-click="toggleRight()">Rules</md-button></div>
		<div><md-button class="menu-item menu-title"  href="/contact" ng-click="toggleRight()">Contact Us</md-button></div>
		<div><md-button class="menu-item menu-title"  href="/links" ng-click="toggleRight()">Links</md-button></div>
</md-sidenav>