<div>
<md-toolbar hide-lg hide-gt-lg md-scroll-shrink>
<div class="md-toolbar-tools">
	<cql-page-menu ng-if="pageMenu"></cql-page-menu><span class="md-toolbar-tools" flex ng-transclude></span><span style="align-content:flex-end;"><md-button class="slim-button" aria-label="Main menu" ng-click="toggleRight()"><md-icon
			md-svg-src="/images/icons/ic_menu.svg" style="width: 24px; height: 24px;"></md-icon><md-tooltip>Main menu</md-tooltip></md-button></span>
</div>
</md-toolbar>
<md-toolbar  hide-sm hide-md class="md-medium-tall top-bar">
	<div class="md-toolbar-tools" style="margin-left:.25em;" ng-transclude></div>
	<div ng-include="'/common/menu-top.html'"></div>
</md-toolbar>
</div>