<div>
<md-toolbar hide-gt-md md-scroll-shrink>
<div class="md-toolbar-tools">
	<cql-page-menu ng-if="pageMenu"></cql-page-menu>
	<span class="md-toolbar-tools" flex ng-transclude></span>
	<md-menu >
 <!-- Trigger element is a md-button with an icon -->
 <md-button class="slim-button" aria-label="Main menu" ng-click="$mdOpenMenu($event)"><md-icon
			md-svg-src="/images/icons/ic_menu.svg" style="width: 24px; height: 24px;"></md-icon><md-tooltip>Main menu</md-tooltip></md-button>
 <md-menu-content width='4' style='max-height:400px;'>
   <md-menu-item><md-button   href="/" >Home</md-button></md-menu-item>
   <md-menu-item><md-button   href="/teams/all" >Teams</md-button></md-menu-item>
   <md-menu-item><md-button   href="/competitions/LEAGUE" >Competitions</md-button></md-menu-item>
   <md-menu-item><md-button   href="/results/all" >Results</md-button></md-menu-item>
   <md-menu-item><md-button   href="/venues" >Venues</md-button></md-menu-item>
   <md-menu-item><md-button   href="/rules" >Rules</md-button></md-menu-item>
   <md-menu-item><md-button   href="/contact" >Contact Us</md-button></md-menu-item>   
   <md-menu-item><md-button   href="/links" >Links</md-button></md-menu-item>
 </md-menu-content>
</md-menu>
</div>
</md-toolbar>
<md-toolbar hide show-gt-md class="md-medium-tall top-bar">
	<div class="md-toolbar-tools" style="margin-left:.25em;" ng-transclude></div>
	<div ng-include="'/common/menu-top.html'"></div>
</md-toolbar>
</div>