<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="MainController">
<head>
<meta charset="UTF-8">
<title>{{global.leagueName}} - Teams</title>
<link rel="icon" type="image/gif" href="/favicon.gif" />
<link type="text/css" rel="stylesheet" href="/css/team.css">
<script type="text/javascript" src="/js/angular.js"></script>
<script type="text/javascript" src="/js/angular-animate.js"></script>
<script type="text/javascript" src="/js/angular-sanitize.js"></script>
<script type="text/javascript" src="/js/controller.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/team.js"></script>
<script type="text/javascript" src="/js/ical.js"></script>
<script type="text/javascript" src="/js/FileSaver.js"></script>
</head>
<body>
	<div>
		<div ng-include="'/top.html'"></div>
		<div class="body-container" ng-controller="TeamsController">
			<div class="show teams standard-margins">
				<div class="selection-item" ng-repeat="item in teams | orderBy:'shortName'" ng-class="item.id == team.id ? 'selected' : 'unselected'">
					<a href="" ng-click="setTeam(item)">{{item.name}}</a>
				</div>
			</div>
			<div class="team-pane standard-margins">
				<div>
					<div>{{team.name}}</div>
					<div>
						<a href="/venue/venues.html#/{{team.venue.id}}">{{team.venue.name}}</a>
					</div>
					<div>Current league standing: {{}}</div>
					<div ng-if="team.extras.text" class="text-block show-thin" ng-bind-html="team.extras.text | htmlify"></div>
					<div class="show-thin titled-list" >
						<div>Last few results:</div>
						<div ng-repeat="results in team.extras.results | orderBy:'date' : true"><span ng-repeat="result in results.results"> {{results.description}} - {{results.date | date:'dd MMMM yyyy'}} :
							{{result.fixture.home.shortName}} {{result.homeScore}} :
							 {{result.awayScore}} {{result.fixture.away.shortName}} </span>
						</div>
						<div><a href="/results/team-results.html#/{{team.id}}">Show all</a></div>
					</div>
					<div class="show-thin titled-list">
						<a href="" ng-click="makeICal(team)">Download Calendar</a>
						<div>Next few fixtures:</div>
						<div
							ng-repeat="fixtures in team.extras.fixtures | afterNow | orderBy:'start'"><span ng-repeat="fixture in fixtures.fixtures">{{fixtures.description}} - {{fixtures.start | date:'dd MMMM yyyy'}}
							- {{fixture.home.shortName}} : {{fixture.away.shortName}}</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
