<div>
	<div>{{team.name}}</div>
	<div>
		<a href="/venue/venue.html/#venue/{{team.venue.id}}">{{team.venue.name}}</a>
	</div>
	<div>Current league standing: {{}}</div>
	<div>
		<div>Last few results:</div>
				<div ng-repeat="result in results">{{result.date}} - {{result.fixture.home.shortName}} {{result.home}} : {{result.fixture.away.shortName}} {{result.away}}</div>
		
		<div></div>
	</div>
	<div>
		<div>Next few fixtures:</div>
		<div ng-repeat="fixture in fixtures | afterNow | orderBy:'fixture.date'">{{fixture.date.toDateString()}} - {{fixture.home.shortName}} : {{fixture.away.shortName}}</div>
	</div>
</div>
