<div ng-controller="TeamEdit">
	<form ng-submit="save(team)">
	<md-input-container>
		<label>Name</label>
		<input type="text" ng-model="team.name" maxlength="30">
	</md-input-container>
	<md-input-container>
		<label>Short Name</label>
		<input type="text" ng-model="team.shortName" maxlength="13">
	</md-input-container>
		<md-input-container>
		<label>Text</label>
		<input type="hidden" ng-model="team.rubric.text">
	</md-input-container>
	<textarea class="md-input" ui-tinymce="tinymceOptions" cols="60" rows="15" ng-model="team.rubric.text"></textarea>
	
	<md-button type="submit" class="md-primary md-raised" style="margin-top:.25em;">Submit</md-button>
	</form>
</div>