<!DOCTYPE html>
<html ng-app="teamApp" ng-controller="TeamsController">
<head>
<meta charset="UTF-8">
<title>{{leagueName}}</title>
<link href='http://fonts.googleapis.com/css?family=Nunito:700'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/gif" href="/favicon.gif" />
<link type="text/css" rel="stylesheet" href="/css/main.css">
<link type="text/css" rel="stylesheet" href="/css/menu-other.css">
<link type="text/css" rel="stylesheet" href="/css/team.css">
<script type="text/javascript" src="/js/angular.js"></script>
<script type="text/javascript" src="/js/angular-animate.js"></script>
<script type="text/javascript" src="/js/angular-route.js"></script>
<script type="text/javascript" src="/js/view.js"></script>
<script type="text/javascript" src="/js/team.js"></script>
</head>
<body>
	<div>
		<div ng-include="'/top.html'"></div>
		<div class="body-container">
			<div class="show teams standard-margins">
				<div ng-repeat="item in teams | orderBy:'shortName'" ng-class="item.id == team.id ? 'selected' : ''">
					<a href="" ng-click="setTeam(item)">{{item.name}}</a>
				</div>
			</div>
			<div class="show team-pane standard-margins">
				<div>
					<div>{{team.name}}</div>
					<div>
						<a href="/venue/venue.html/#venue/{{team.venue.id}}">{{team.venue.name}}</a>
					</div>
					<div>Current league standing: {{}}</div>
					<div>{{team.extras.rubric}}</div>
					<div class="show-thin standard-margins titled-list" >
						<div>Last few results:</div>
						<div ng-repeat="result in results | orderBy:'date' : reverse">{{result.date}} -
							{{result.fixture.home.shortName}} {{result.home}} :
							{{result.fixture.away.shortName}} {{result.away}}</div>

						<div></div>
					</div>
					<div class="show-thin standard-margins titled-list">
						<div>Next few fixtures:</div>
						<div
							ng-repeat="fixture in team.extras.fixtures | afterNow | orderBy:'date'">{{fixture.date.toDateString()}}
							- {{fixture.home.shortName}} : {{fixture.away.shortName}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>