<div ng-controller="TeamEdit">
	<md-input-container>
		<label>Name</label>
		<input type="text" ng-model="team.name">
	</md-input-container>
	<md-input-container>
		<label>Short Name</label>
		<input type="text" ng-model="team.shortName">
	</md-input-container>
		<md-input-container>
		<label>Text</label>
		<input type="hidden" ng-model="team.rubric.text">
	</md-input-container>
	<textarea class="md-input" ui-tinymce="tinymceOptions" cols="60" rows="15" ng-model="team.rubric.text"></textarea>
	
	<md-button ng-click="save(team)">Submit</md-button>
</div>