<div>
	<div class="box-title">Team Details</div>
	<form novalidate>
		<table>
			<tr>
				<td>Name</td>
				<td><input ng-model="team.name"></td>
			</tr>
			<tr>
				<td>Short Name</td>
				<td><input ng-model="team.shortName"></td>
			</tr>
			<tr>
				<td>Venue</td>
				<td><select ng-model="team.venue"
					ng-options="venue as venue.name for venue in venues"
					ng-change="team.name=team.venue.name"></td>
			</tr>
			<tr>
				<td></td>
				<td><div><button ng-click="addUser(userToAdd)">Add</button><select ng-model="userToAdd" ng-options="user as user.name for user in users"/></div></td>
			</tr>
			<tr>
				<td>Users</td>
				<td>
					<div class="show team-username-box">
						<div ng-repeat="user in team.users"><span class="team-username">{{user.name}}<button ng-click="removeUser(user)">Remove</button></span></div>
					</div>
				</td>
			</tr>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button ng-click="resetTeam()">Reset</button>
						<button ng-click="updateTeam(team)">Save</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
